{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Products
{% endblock title %}

{% block content %}
    <h1>Все товары</h1>

    <h3>{% current_time %}</h3>
    <h3>{{ next_sale|default_if_none:"Чуть позже сообщим о распродаже!" }}</h3>
    <hr>
    <form method="GET" class="d-flex gap-2 mb-3 flex-wrap">

    {% for field in filter.form %}
        <div class="d-flex align-items-center me-2" style="flex-wrap: nowrap;">
            <label class="me-1 mb-0" style="white-space: nowrap;">
                {{ field.label }}
            </label>

            <div style="width: 130px; flex: 0 0 130px;">
                {{ field|add_class:"form-control form-control-sm p-1" }}
            </div>
        </div>
    {% endfor %}

    <button class="btn btn-primary btn-sm">Найти</button>
    </form>

    <hr>

    {% if products %}
    <table class="table table-bordered table-hover">
        <thead>
            <th>Название</th>
            <th>Описание</th>
            <th>Категория</th>
            <th>Цена</th>
            <th>Количество</th>
        </thead>

        {% for product in filter.qs %}  <!-- поменяем products на filter.qs, т. к. теперь мы забираем уже отобранную по каким-то параметрам информацию -->
        <tr>
            <td>
                <a href="{% url 'product_detail' product.id %}">{{ product.name|title }}</a> <!-- При нажатии на имя товара в таблице нас теперь будет перекидывать на страницу с информацией о товаре -->
                <a href="{% url 'product_update' product.id %}"><u>Редактировать</u></a> <!-- добавим ссылку на редактирование товара-->

                <a href="{% url 'product_delete' product.id %}"><u> Удалить </u></a> <!-- добавим ссылку на удаление товара-->
            </td>
            <td>{{ product.description|truncatechars:15 }}</td>
            <td>{{ product.category.name }}</td>
            <td>{{ product.price|currency }}</td>
            <td>{{ product.quantity }}</td>
        </tr>
        {% endfor %}
    </table>
    <form method="POST">
        {% csrf_token %}
        {{ form }} <!-- Теперь нам нужна только готовая форма и кнопка -->
        <input type="button"
            value="Добавить товар"
            onclick="window.location.href="{% url 'product_create' %}">
    </form>

    <br>

    <!-- ПАГИНАТОР -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">

            {# ———— Первая страница ———— #}
            {% if page_obj.number > 1 %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">Первая</a>
                </li>
            {% endif %}

            {# ———— Предыдущая страница ———— #}
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">⮜</a>
                </li>
            {% endif %}

            {# ———— Текущая / соседние страницы ———— #}
            {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                    <li class="page-item active">
                    <span class="page-link">{{ num }}</span>
                    </li>
                {% elif num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {# ———— Следующая страница ———— #}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">⮞</a>
                </li>
            {% endif %}

            {# ———— Последняя страница ———— #}
            {% if page_obj.number < page_obj.paginator.num_pages %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
                </li>
            {% endif %}

        </ul>
    </nav>
    <!-- КОНЕЦ ПАГИНАТОРА -->

    {% else %}
        <h2>Товаров нет!</h2>
    {% endif %}
{% endblock content %}
